In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("foor.csv")

In [14]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,"265,1",110,"45,07","197,4",99,"16,78","244,7",91,"11,01","10,0",3,"2,7",1,False
1,OH,107,415,No,Yes,26,"161,6",123,"27,47","195,5",103,"16,62","254,4",103,"11,45","13,7",3,"3,7",1,False
2,NJ,137,415,No,No,0,"243,4",114,"41,38","121,2",110,"10,3","162,6",104,"7,32","12,2",5,"3,29",0,False
3,OH,84,408,Yes,No,0,"299,4",71,"50,9","61,9",88,"5,26","196,9",89,"8,86","6,6",7,"1,78",2,False
4,OK,75,415,Yes,No,0,"166,7",113,"28,34","148,3",122,"12,61","186,9",121,"8,41","10,1",3,"2,73",3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,"156,2",77,"26,55","215,5",126,"18,32","279,1",83,"12,56","9,9",6,"2,67",2,False
3329,WV,68,415,No,No,0,"231,1",57,"39,29","153,4",55,"13,04","191,3",123,"8,61","9,6",4,"2,59",3,False
3330,RI,28,510,No,No,0,"180,8",109,"30,74","288,8",58,"24,55","191,9",91,"8,64","14,1",6,"3,81",2,False
3331,CT,184,510,Yes,No,0,"213,8",105,"36,35","159,6",84,"13,57","139,2",137,"6,26","5,0",10,"1,35",2,False
3332,TN,74,415,No,Yes,25,"234,4",113,"39,85","265,9",82,"22,6","241,4",77,"10,86","13,7",4,"3,7",0,False

In [15]:
df.sort_values(by = "Total day charge", ascending=False).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
1351,LA,13,415,No,No,0,"58,4",121,"9,93","262,2",64,"22,29","159,0",115,"7,15","11,9",5,"3,21",1,False
181,AK,126,415,No,No,0,"58,2",94,"9,89","138,7",118,"11,79","136,8",91,"6,16","11,9",1,"3,21",5,True
2973,NE,95,510,No,No,0,"58,2",96,"9,89","202,1",126,"17,18","210,5",97,"9,47","10,4",5,"2,81",0,False
2859,WV,87,415,No,No,0,"58,0",125,"9,86","67,5",116,"5,74","185,9",136,"8,37","11,5",3,"3,11",0,False
603,MI,53,415,No,No,0,"57,5",95,"9,78","265,5",131,"22,57","244,3",128,"10,99","11,6",6,"3,13",3,False

In [16]:
df.sort_values(by=['Churn', 'Total day charge'], ascending=[True, False])

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
1351,LA,13,415,No,No,0,"58,4",121,"9,93","262,2",64,"22,29","159,0",115,"7,15","11,9",5,"3,21",1,False
2973,NE,95,510,No,No,0,"58,2",96,"9,89","202,1",126,"17,18","210,5",97,"9,47","10,4",5,"2,81",0,False
2859,WV,87,415,No,No,0,"58,0",125,"9,86","67,5",116,"5,74","185,9",136,"8,37","11,5",3,"3,11",0,False
603,MI,53,415,No,No,0,"57,5",95,"9,78","265,5",131,"22,57","244,3",128,"10,99","11,6",6,"3,13",3,False
735,DC,169,415,Yes,No,0,"57,1",98,"9,71","199,7",78,"16,97","274,7",103,"12,36","6,5",6,"1,76",3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,KS,92,408,Yes,No,0,"62,6",111,"10,64","180,6",126,"15,35","221,7",80,"9,98","10,4",2,"2,81",1,True
21,CO,77,408,No,No,0,"62,4",89,"10,61","169,9",121,"14,44","209,6",64,"9,43","5,7",6,"1,54",5,True
77,NY,144,408,No,No,0,"61,6",117,"10,47","77,1",85,"6,55","173,0",99,"7,79","8,2",7,"2,21",4,True
1538,WV,113,415,No,No,0,"61,2",111,"10,4","92,3",88,"7,85","197,4",114,"8,88","13,7",3,"3,7",5,True
1345,SD,98,415,No,No,0,"0,0",0,"0,0","159,6",130,"13,57","167,1",88,"7,52","6,8",1,"1,84",4,True

In [11]:
df['Churn'].mean()

0.14491449144914492